<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530095138018-sq4020s3io22jkgto75mvj9bhi0nqie4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530095138018-sq4020s3io22jkgto75mvj9bhi0nqie4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>530095138018-aqnna23eo71culk3t9kvk66ljsj9d1qa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEebs--z6NtmspZmZqogrOF9aOO13Swng</string>
	<key>GCM_SENDER_ID</key>
	<string>530095138018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fusiongate.fluxstoreManager</string>
	<key>PROJECT_ID</key>
	<string>fir-fluxstore-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fluxstore-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530095138018:ios:672291e1156bf55cbdeabb</string>
	<key>DATABASE_URL</key>
	<string>https://fir-fluxstore-manager-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>